.business-indicator {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;

  .container {
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }

  .regions-container {
    align-self: normal;
    font-size: 14px;

    .header-gender {
      margin-right: 15px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      color: #555;
      font-weight: 900;

      .genders {
        display: flex;
        gap: 25px;
      }
    }

    .regions {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 8px;

      .paras {
        display: flex;
        justify-content: space-between;
        color: #555;

        .numbers {
          display: flex;
          gap: 10px;

          p {
            min-width: 50px;
          }
        }

        .icon {
          width: 12px;
          height: 12px;
        }

        p {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &:hover {
          color: red;
          font-weight: 700;
          font-size: 15px;
          cursor: pointer;
        }
      }

      .paras-tbilisi {
        margin-left: 23px;
      }

      .mun-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-left: 15px;
        margin-top: 5px;

        .mun-paras {
          display: flex;
          justify-content: space-between;
          color: #555;
          font-size: 14px;

          &:hover {
            color: darkblue;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
}
