// src/navigation/navigation.scss
.navigation {
  height: 100vh; /* Set a height for the sticky element */
  width: max-content; /* Set a width for the sticky element */
  position: sticky; /* Make it sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1; /* Ensure it appears above other content */
  padding: 10px; /* Optional padding */

  .navigation-container {
    background-color: #fff; /* Background color */
    height: 100%;
    border: 2px solid gray;
    display: flex;
    transition: all 0.3s ease; /* Smooth transition for the container */

    ul {
      list-style-type: none;

      li {
        padding: 0 10px;
        cursor: pointer;

        &:hover {
          background-color: lightgray;
        }
      }

      .selected {
        color: #fff;
        background-color: #0074d9 !important;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center;
      }

      .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
      }

      .fa-sliders::before {
        content: "\f1de";
      }
    }

    .sidebar {
      min-width: 350px;
      display: flex;
      justify-content: space-between;

      h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        background-color: #0074d9 !important;
        font-size: 20px;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        flex: 1;
        justify-content: start;
      }

      .sidebar-close {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 20px;
        }

        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        background-color: #0074d9 !important;
        color: #fff;
      }
    }
  }
}
